.title{
    font-size: 20px;
    font-weight: 800;
    color: white;
}
.header-section{
    background-color: rgba(0, 0, 0, 0.45);
    min-width: 1200px;
    max-width: 1600px;
}
.work-dropdown{
    color: white !important;
}
.block{
    background-color: red;
    border-radius: 3px;
    height: 40px;
    width: 40px;
}
.recent-items-title{
    font-size: 18px;
    font-weight: 800;
}
.recent-items-descripton{
    font-size: 12px;
}
